.auth-form{display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
form{
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 9px #c3c3c38a;
}
input{
    width:100%;
}}


/*
       &
      .-"`"-.
     /       \
     |   __  _|
     |  /  \/ \
    WW  \_o/_o/
    (        _)
     |   .----\
     ;  | '----'
      \__'--;`
jgs   |___/\|
*/